<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직업 검색기</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <main class="container">
    <h1> 직업 검색기</h1>
    <h4>어떤 직업을 원하십니까?</h4>
    <form action="/search">
        <input type="text" name="keyword"
        placeholder="올바른 언어를 입력해주세요"/>
        <button>Search</button>
    </form>
</body>
</html>